{% extends 'courses/main-layout.html' %}
{% block main_section %}

    <div class="main-block">
        <div class="one-course">
            <h3>{{ object.title }}</h3>

            {% if object.img %}
            <img src="{{ object.img.url }}" alt="{{ object.title }}">
            {% else %}
            <img src="/pictures/default.png" alt="{{ object.title }}">
            {% endif %}
        </div>

        <div class="aside-course">
            <h3>Описание курса</h3>
            <p>{{ object.description }}</p>
            {% if object.free == False and user.is_authenticated == False %}
                <p> <a href="{% url 'req' %}">Зарегестрируйтесь</a> на сайте и купите подпску, чтобы посмотреть этот курс</p>
            {% else %}
                <ul>
                {% for lesson in lessons %}
                    <li><a href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}