{% extends 'courses/main-layout.html' %}
{% block main_section %}

    <div class="main-block">
        <div class="one-course">
            <h3>{{ object.title }}</h3>

            {% if object.img %}
            <img src="{{ object.img.url }}" alt="{{ object.title }}">
            {% else %}
            <img src="/pictures/default.png" alt="{{ object.title }}">
            {% endif %}
        </div>

        <div class="aside-course">
            <h3>Видео урок - {{ title }}</h3>
            <p>{{ desc }}</p>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video}}" title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>            

        </div>
    </div>

{% endblock %}