# proxysql.cnf

admin_variables= {
    admin_credentials="admin:adminpass";
    mysql_ifaces="0.0.0.0:6032";
    refresh_interval=2000;
}

mysql_variables= {
    threads=4;
    max_connections=2048;
    default_query_delay=0;
    default_query_timeout=36000000;
    have_compress=true;
    poll_timeout=2000;
    interfaces="0.0.0.0:6033;/path/to/mysql.sock";
    default_schema="information_schema";
    stacksize=1048576;
}

mysql_servers =
(
    { address="postgresql"; port=5432; hostgroup=10; max_connections=100; },
)

mysql_users =
(
    { username="myuser"; password="mypassword"; default_hostgroup=10; },
)
